@import "tailwindcss";

:root {
	--color-background: #ffffff;
	--color-foreground: #172b4d;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #1d2125;
		--color-foreground: #b6c2cf;
	}
}

body {
	background: var(--color-background);
	color: var(--color-foreground);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
}
